body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #060505;
}

.button{
    border: 2px solid #d2bdff;
    height: 80px;
    width: 200px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    margin: 25px;
}

p{
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}


.button2:hover span:nth-child(4){
    filter: hue-rotate(300deg);
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;

}
 .button2 {
    position: relative;
    display: inline-block;
    padding: 30px 61px;
    border-radius: 4px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    font-family:  sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #d2bdff;
    transition: all 0.1s linear;
    cursor: pointer;
    font-size: 20px;
}

.button2:hover {
    border: 1px solid transparent;
}

.button2:hover span{
    position: absolute;
    display: block;
}


